nav{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #606c38;

    ;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0 10px;
    gap: 20px;
    margin: 0px;

}
body{
    padding: 0px;
    margin: 0px;
    background-color: #fefae0;
}
